<aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="/">SPKM - SI</a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="/">SI</a>
    </div>
    <ul class="sidebar-menu">
      <li class="menu-header">Dashboard</li>
      <li class="dropdown <%= posisiHlmn[1] == 'Dashboard' ? 'active' : '' %>">
        <a href="/" class="nav-link"><i class="fas fa-fire"></i><span>Dashboard</span></a>
      </li>
      <li class="menu-header">Kelola Mahasiswa SI</li>
      <li class="dropdown <%= posisiHlmn[0] == 'Mahasiswa SI' ? 'active' : '' %>">
        <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>Mahasiswa SI</span></a>
        <ul class="dropdown-menu">
          <li class="<%= posisiHlmn[1] == 'Data Mahasiswa SI' ? 'active' : '' %>">
            <a class="nav-link" href="/Admin/Mahasiswa">Data Anggota Mahasiswa</a>
          </li>
          <li class="<%= posisiHlmn[1] == 'Data Akun Mahasiswa SI' ? 'active' : '' %>">
            <a class="nav-link" href="/Admin/Akun-Mahasiswa">Data Akun Mahasiswa</a>
          </li>
        </ul>
      </li>
      <li class="dropdown <%= posisiHlmn[0] == 'Pengurus' ? 'active' : '' %>">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Pengurus Kelas</span></a>
        <ul class="dropdown-menu">
          <li class="<%= posisiHlmn[1] == 'Data Pengurus SI' ? 'active' : '' %>">
            <a class="nav-link" href="/Admin/Pengurus">Data Pengurus Kelas</a>
          </li>
          <li class="">
            <a class="nav-link" href="#">Data Akun Pengurus Kelas</a>
          </li>
        </ul>
      </li>
      <li class="<%= posisiHlmn[1] == 'Ijin Keanggotaan' ? 'active' : '' %>"><a class="nav-link" href="/admin/pengajuan"><i class="far fa-square"></i> <span>Ijin Keanggotaan</span></a></li>
      <li class="menu-header">Kelola Kelas SI</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-th-large"></i> <span>Kelas SI</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#components-article.html">Data Jadwal Kelas</a></li>
          <li><a class="nav-link" href="#components-chat-box.html">Data Info Kelas</a></li>
          <li><a class="nav-link beep beep-sidebar" href="#gmaps-geocoding.html">Data Kelas</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-plug"></i> <span>Mata Kuliah SI</span></a>
        <ul class="dropdown-menu">
          <li><a href="#gmaps-advanced-route.html">Data Mata Kuliah</a></li>
          <li><a href="#gmaps-draggable-marker.html">Data Dosen Matkul</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-bicycle"></i> <span>Tugas & Keputusan Kelas</span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#components-article.html">Data Tugas Kelas</a></li>
          <li><a class="nav-link" href="#components-chat-box.html">Data Pengumpulan Suara</a></li>
        </ul>
      </li>
      <li class="menu-header">Sistem</li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="far fa-user"></i> <span>Laporan</span></a>
        <ul class="dropdown-menu">
          <li><a href="#auth-forgot-password.html">Lap Data Mahasiswa</a></li> 
          <li><a href="#auth-login.html">Lap Data Kelas</a></li> 
          <li><a href="#auth-register.html">Lap Data Tugas Kelas</a></li> 
          <li><a href="#auth-reset-password.html">Lap Data Keputusan</a></li> 
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-ellipsis-h"></i> <span>Aplikasi SPKM</span></a>
        <ul class="dropdown-menu">
          <li><a href="#utilities-subscribe.html">Pengaturan Aplikasi</a></li>
          <li><a href="#utilities-contact.html">Backup & Reset</a></li>
        </ul>
      </li>            
      <li><a class="nav-link" href="credits.html"><i class="fas fa-pencil-ruler"></i> <span>Tentang SPKM</span></a></li>
    </ul>

    <div class="mt-4 mb-4 p-3 hide-sidebar-mini">
      <a href="https://getstisla.com/docs" class="btn btn-primary btn-lg btn-block btn-icon-split">
        <i class="fas fa-rocket"></i>Cara Pemakaian Aplikasi
      </a>
    </div>
</aside>