<!DOCTYPE html>
<html lang="en">
<!-- Header -->
<%- include('../parts/header'); %>
<!-- End Header -->
<body>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <!-- Navbar -->
        <%- include('../parts/navbar'); %>
      <!-- End Navbar -->
      <div class="main-sidebar sidebar-style-2">
      <!-- Sidebar -->
        <%- include('../parts/sidebar'); %>
      <!-- End Sidebar -->
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1><%= posisiHlmn[0] %> / <%= posisiHlmn[1] %></h1>
          </div>
          <!-- Akun Mahasiswa, Detail Akun Mahasiswa dan Quick Draft -->
          <div class="row">
            <!-- Table Mahasiswa -->
            <div class="col-lg-12 col-md-12 col-12 col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h4>Data Akun Mahasiswa (Anggota)</h4>
                </div>
                <div class="card-body p-0">
                  <div class="table-responsive">
                    <table id="dataTableAkunMhs" class="table table-striped mb-0">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>NIM</th>
                          <th>Username</th>
                          <th>Password</th>
                          <th>Aksi</th>
                        </tr>
                      </thead>
                      <tbody>                         
                        <% let i = 1; dataAkunMhs.forEach(function(AkunMhs){ %>
                        <tr>
                          <td>
                            <%= i++; %>
                          </td>
                          <td>
                            <%= AkunMhs.nim_mahasiswa %>
                            <div class="table-links">
                              <a href="#" class="btn-detail" data-detail="<%= AkunMhs.nim_mahasiswa %>">Detail</a>
                              <div class="bullet"></div>
                              <a href="#">Web Development</a>
                            </div>
                          </td>
                          <td>
                            <%= AkunMhs.username_akun %>
                          </td>
                          <td>
                            <%= AkunMhs.password_akun %> 
                          </td>
                          <td>
                            <a class="btn btn-primary btn-action mr-1" data-toggle="tooltip" title="Edit"><i class="fas fa-pencil-alt"></i></a>
                            <a class="btn btn-danger btn-action" data-toggle="tooltip" title="Delete" data-confirm="Menghapus Data (<%= AkunMhs.nim_mahasiswa %>)?|Aksi ini akan menghapus data secara permanen. Apakah anda ingin melanjutkan?" data-confirm-yes="alert('Deleted')"><i class="fas fa-trash"></i></a>
                          </td>
                        </tr>
                        <%  }); %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Table Mahasiswa -->
          </div>
          <div class="row">
            <!-- Detail Akun Mahasiswa -->
            <div class="col-12 col-md-6 col-lg-12">
              <div class="card card-dark" id="target-detail">
                <div class="card-header">
                  <h4>Detail Akun Anggota Mahasiswa SI</h4>
                  <form class="card-header-form mr-2">
                    <div class="input-group">
                      <input type="text" name="search" class="form-control" placeholder="Dapatkan data dari NIM">
                      <div class="input-group-btn">
                        <button class="btn btn-primary btn-icon"><i class="fas fa-search"></i></button>
                      </div>
                    </div>
                  </form>
                  <div class="card-header-action">
                    <a data-collapse="#mycard-collapse" class="btn btn-icon btn-info" href="#"><i class="fas fa-minus"></i></a>
                  </div>
                </div>
                <div class="collapse show" id="mycard-collapse">
                  <!-- Detail Akun Anggota Mahasiswa -->
                  <div class="card-body">
                    <form action="#">
                      <div class="row">
                        <!-- Detail Nama dan Info Lain -->
                        <div class="col-12 col-md-6 col-lg-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="form-group">
                                <label>Nama Lengkap Anggota:</label>
                                <div class="input-group">
                                  <input type="text" id="detailNamaMhs" value="" class="form-control" readonly>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>NIM Anggota:</label>
                                <div class="input-group">
                                  <input type="text" id="detailNimMhs" value="" class="form-control" readonly>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Jenis Kelamin Anggota:</label>
                                <div class="input-group">
                                  <input type="text" id="detailGenderMhs" value="" class="form-control" readonly>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- END Detail Nama dan Info Lain -->
                        <!-- Detail Profil -->
                        <div class="col-12 col-md-6 col-lg-6">
                          <div class="card">
                            <div class="card-body">
                              <div class="form-group">
                                <label>Username Anggota:</label>
                                <div class="input-group">
                                  <input type="text" id="detailUsername" value="" class="form-control" readonly>
                                </div>
                              </div>
                              <div class="form-group">
                                <label>Password Anggota:</label>
                                <div class="input-group">
                                  <input type="text" id="detailPassword" value="" class="form-control" readonly>
                                </div>
                              </div>
                              <div class="form-group">
                                <label for="">Aksi Detail:</label>
                                <div class="input-group">
                                  <button type="reset" class="btn btn-warning btn-action" data-toggle="tooltip" title="Kosongkan Detail">
                                    <i class="fas fa-redo-alt"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- END Detail Profil -->
                      </div>
                    </form>
                  </div>
                  <!-- END Detail Akun Anggota Mahasiswa -->
                  <div class="card-footer">
                    Card Footer
                  </div>
                </div>
              </div>
            </div>
            <!-- End Detail Akun Mahasiswa -->
          </div>
          <div class="row">
            <!-- Quick Draft -->
            <div class="col-lg-6 col-md-12 col-12 col-sm-12">
              <form method="post" class="needs-validation" novalidate="">
                <div class="card">
                  <div class="card-header">
                    <h4>Quick Draft</h4>
                  </div>
                  <div class="card-body pb-0">
                    <div class="form-group">
                      <label>Title</label>
                      <input type="text" name="title" class="form-control" required>
                      <div class="invalid-feedback">
                        Please fill in the title
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Content</label>
                      <textarea class="summernote-simple"></textarea>
                    </div>
                  </div>
                  <div class="card-footer pt-0">
                    <button class="btn btn-primary">Save Draft</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Quick Draft -->
          </div>
          <!-- End Akun Mahasiswa, Detail Akun Mahasiswa dan Quick Draft -->
        </section>
      </div>
      <!-- Footer -->
        <%- include('../parts/footer'); %>
      <!-- End Footer -->
    </div>
  </div>

  <!-- Script -->
  <%- include('../parts/script'); %>
  <script src="/js/myCustom/custom-akunMahasiswa.js"></script>
 <!-- End Script -->
</body>
</html>